<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="mqtt" connectionString="HostName=IoT-Free-Demo.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=mpIVWC6nEOCfiYLYzKv2HG9wsx0aI7Y92xsQgU/W+AQ="/>
  </connectionStrings>
</configuration>